.App {
  text-align: center;
  background: teal;
  color:white;
  border-radius: 10px;
  width: 800px;
  margin: auto;
}

.status{
  display:inline-block;
}
.hide{
  display: none;
}

button{
  padding: 10px;
  margin: 5px;
  color: white;
  background: crimson;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  
}